@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=Yatra+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: url("drums-246840_1920.jpg") no-repeat center center fixed;
  background-size: cover;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#drum-machine {
  border: 2px solid #e18701;
  border-radius: 5%;
  background-color: white;
  padding: 15px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "buttons controls";
}

/* Drum Buttons */
#drum-buttons {
  margin-right: 10px;
  grid-area: buttons;
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  grid-template-areas:
    "Q W E"
    "A S D"
    "Z X C";
  gap: 5px 5px;
}
button {
  font-family: "Yatra One";
  border: 1px solid #e1ad01;
  border-radius: 6%;
  background-color: #015be175;
}
#Heater {
  grid-area: Q;
}
#Disc-Oh {
  grid-area: W;
}
#Kick-Hat {
  grid-area: E;
}
#Cev {
  grid-area: A;
}
#Chord {
  grid-area: S;
}
#Dry-Oh {
  grid-area: D;
}
#Punch-Kick {
  grid-area: Z;
}
#Side-Stick {
  grid-area: X;
}
#Break-Snare {
  grid-area: C;
}

/* Drum Controls */
#drum-controls {
  margin-left: 10px;
  grid-area: controls;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
#display {
  font-family: Ubuntu;
  border: 1px solid rgba(0, 0, 0, 0.521);
  border-radius: 5%;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.514);
  width: 150px;
}
#display-label {
  font-family: Ubuntu;
}
#volume-label {
  font-family: Ubuntu;
}
